/* -------------------- *         Variables
\* -------------------- */
/* -------------------- *      Generic styles
\* -------------------- */
@media (min-width: 544px) {
  .x2b-nwrp {
    overflow: hidden;
    white-space: nowrap; } }

.x2b-shdw {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

/* -------------------- *        Link styles
\* -------------------- */
a.x2b-txt-lnk {
  color: #373a3c;
  text-decoration: none !important; }
  a.x2b-txt-lnk:focus, a.x2b-txt-lnk:hover {
    color: #373a3c;
    text-decoration: none !important; }

/* -------------------- *        Icon styles
\* -------------------- */
.x2b-sqrd {
  padding: .625rem .625rem .625rem 1.25rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

/* ------------------------ *   Collapsed section styles
\* ------------------------ */
.x2b-expnd.collapsed {
  height: 2rem; }

.x2b-expnd {
  display: block;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
          transition: height .35s ease; }

/* -------------------- *       Anchor styles
\* -------------------- */
.x2b-anchr::before {
  content: " ";
  display: block;
  height: 4.375rem;
  margin-top: -4.375rem;
  visibility: hidden; }

/* -------------------- *       Body styles
\* -------------------- */
.x2b-bdy {
  padding-top: 3.375rem; }

/* -------------------- *       Navbar styles
\* -------------------- */
.x2b-nvbr {
  -webkit-transition: -webkit-transform .25s, background-color .5s linear, box-shadow .25s linear;
          transition: transform .25s, background-color .5s linear, box-shadow .25s linear; }

/* ------------------------------------- *   Navbar animation (scrollPosStyler.js)
\* ------------------------------------- */
.sps--abv {
  background-color: #fff;
  box-shadow: none; }

.sps--blw {
  background-color: #eceeef;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

/* ------------------------------ *   Navbar animation (headroom.js)
\* ------------------------------ */
.headroom--pinned {
  -webkit-transform: translateY(0%);
          transform: translateY(0%); }

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  box-shadow: none !important; }

/* -------------------- *   Sidebar panel styles
\* -------------------- */
.x2b-sdbr {
  position: -webkit-sticky;
  position: sticky;
  top: 5.375rem; }

.x2b-sdbr-sctn {
  font-size: 1.25rem; }

.x2b-sdbr-lnk {
  margin: 0.5rem 0; }

/* -------------------- *       Footer styles
\* -------------------- */
.x2b-ftr {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.x2b-ftr-txt {
  margin: 0; }
