@import "variables";
@import "breakpoints";

// TODO: map-get()?

/* -------------------- *\
         Variables
\* -------------------- */

$shadow: 0 1px 2px rgba(0, 0, 0, 0.25);


/* -------------------- *\
      Generic styles
\* -------------------- */

//TODO: not currently used - required?
@include media-breakpoint-up(sm) {
  .x2b-nwrp {
    overflow: hidden;
    white-space: nowrap;
  }
}

.x2b-shdw {
  text-shadow: $shadow;
}


/* -------------------- *\
        Icon styles
\* -------------------- */

.x2b-sqrd {
  border: $border-width solid $pager-border-color;
  border-radius: $pager-border-radius;
  box-sizing: content-box;
  padding: 10px 4px 10px 16px;
}
.x2b-sqrd.dsbld {
  color: $gray-light;
  cursor: not-allowed;
}
.x2b-sqrd.dsbld:hover {
  background: inherit;
}
.x2b-sqrd:hover {
  background: $pager-hover-bg;
}


/* ------------------------ *\
   Collapsed section styles
\* ------------------------ */

.x2b-expnd.collapsed {
  visibility: visible;
}
.x2b-expnd {
  visibility: hidden;
}


/* -------------------- *\
       Anchor styles
\* -------------------- */

.x2b-anchr::before {
    content: " ";
    display: block;
    height: ($spacer-y + 2 * $spacer);
    margin-top: (0 - $spacer-y - 2 * $spacer);
    visibility: hidden;
}


/* -------------------- *\
       Body styles
\* -------------------- */

.x2b-bdy {
  padding-top: (3.375 * $spacer-y);
}


/* -------------------- *\
       Navbar styles
\* -------------------- */

.x2b-nvbr {
  transition: transform 250ms, background-color 0.5s, box-shadow 0.5s;
}


/* ------------------------------------- *\
   Navbar animation (scrollPosStyler.js)
\* ------------------------------------- */

.sps--abv {
  background-color: $body-bg;
  box-shadow: none;
}
.sps--blw {
  background-color: $gray-lighter;
  box-shadow: $shadow;
}


/* ------------------------------ *\
   Navbar animation (headroom.js)
\* ------------------------------ */

.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(percentage((0 - ($spacer + $spacer) / $spacer)));
}


/* -------------------- *\
   Sidebar panel styles
\* -------------------- */

.x2b-sdbr {
  position: sticky;
  top: (5.375 * $spacer-y);
}
.x2b-sdbr-sctn {
  font-size: $font-size-lg;
}
.x2b-sdbr-lnk {
  margin: ($spacer-y * 0.5) 0;
}


/* -------------------- *\
     Home panel styles
\* -------------------- */

.x2b-hm-pnl {
  padding-left: (2 * $spacer);
  padding-right: (2 * $spacer);
}


/* -------------------- *\
       Footer styles
\* -------------------- */

.x2b-ftr {
  border-top: $border-width solid $hr-border-color;
}
.x2b-ftr-txt {
  margin: 0;
}
