@import "variables.less";

/* -------------------- *\
      Generic styles
\* -------------------- */

@media (min-width: @screen-sm-min) {
  .x2b-nwrp {
    overflow: hidden;
    white-space: nowrap;
  }
}

.x2b-gry {
  color: @gray-light;
}


/* -------------------- *\
       Body styles
\* -------------------- */

.x2b-bdy {
  padding-top: (@navbar-height + @padding-large-vertical + 2);
}


/* -------------------- *\
       Navbar styles
\* -------------------- */

.x2b-nvbr {
  background-color: @body-bg;
  border-width: 1px 0;
  top: @padding-large-vertical;
}
.x2b-nvbr.affix-top {
  background-position: center @navbar-height;
  box-shadow: none;
}
.x2b-nvbr.affix {
  background-position: center 0;
}
.navbar-text.navbar-right {
  padding-right: @padding-large-horizontal;
}


/* ------------------------------ *\
   Navbar animation (Headroom.js)
\* ------------------------------ */

.headroom {
  transition: transform 250ms, background-position 0.5s;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(percentage((0 - (@navbar-height + @padding-large-vertical) / @navbar-height)));
}


/* -------------------- *\
   Sidebar panel styles
\* -------------------- */

.x2b-sdbr.affix {
  top: (@navbar-height + 2.5 * @padding-large-vertical);
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .x2b-sdbr.affix {
    width: (@container-sm / 4 - @grid-gutter-width);
  }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .x2b-sdbr.affix {
    width: (@container-md / 4 - @grid-gutter-width);
  }
}
@media (min-width: @screen-lg-min) {
  .x2b-sdbr.affix {
    width: (@container-lg / 4 - @grid-gutter-width);
  }
}


/* -------------------- *\
       Footer styles
\* -------------------- */

.x2b-ftr {
  border-top: 1px solid @navbar-default-border;
  margin-top: 100px;
  padding: 40px 0;
  text-align: center;

  p {
    margin: 0;
  }
}
