bower_components
css/*
!css/bootstrap.min.css
!css/font-awesome.min.css
!css/gallery.css
!css/style.css
img
js/*
!js/bootstrap.min.js
!js/gallery.js
!js/jquery.min.js
!js/script.js
!js/tether.min.js
lib
modules
node_modules
publish
sass
src
